section.about-course
    .container.container__right--right
        .row
            .col-12
                .title.title--gray.about-course__title
                    | Что вас ждет на курсе:
                    | расскажем о важных моментах
                    | подготовки к родам
    .container.container__right--left
        .row.about-course__videoWrap
            .col-8.col-md-12
                .videoBlock.about-course__videoBlock
                    .videoBlock-image
                        img(src='assets/images/content/free-webinar/videoBg.jpg')
                    button.btn.btn__video.flex.flex-align--center
                        span.btn__video--text Видео
                        span.btn__videoImg
                            svg(width="8px" height="10px" class='btn__videoImg--img')
                                path(
                                d="M1.289,10.013 L1.289,10.013 C0.542,10.012 -0.000,9.384 -0.000,8.518 L-0.000,2.480 C-0.000,1.613 0.542,0.984 1.289,0.984 C1.543,0.984 1.807,1.062 2.052,1.209 L7.220,4.284 C7.707,4.574 7.985,5.023 7.985,5.513 C7.985,5.995 7.715,6.433 7.245,6.713 L2.050,9.790 C1.807,9.935 1.543,10.013 1.289,10.013 ZM1.289,2.308 C1.257,2.308 1.208,2.308 1.208,2.480 L1.208,8.518 C1.208,8.690 1.257,8.690 1.289,8.690 C1.319,8.690 1.383,8.681 1.474,8.627 L6.669,5.550 C6.694,5.536 6.715,5.522 6.731,5.508 C6.709,5.490 6.680,5.469 6.643,5.447 L1.475,2.371 C1.383,2.316 1.319,2.308 1.289,2.308 Z"
                                )

            .col-4.col-md-12
                .about-course__text
                    |Курс представляет собой набор недолгих, но содержательных видеосюжетов, снятых практикующими врачами, каждый из которых является признанным специалистом в области своих компетенций. К нему прилагается онлайн-поддержка с возможностью задать Ваши вопросы и в течение суток получить ответ, ссылки на полезный контент, личная беседа по Skype со специалистом и возможность записаться на офлайн-прием.
    .container.container__right--none
        .row.banner

            .col-8.right
                .banner__wrapper.flex.flex-align--center
                    .full-right
                    h2.banner__title
                        | Смотреть


    .container.container__right--left
        .row
            .col-12
                .title.about-course__title-2
                    | 10 причин выбрать именно нас
                    | и подготовиться к рождению ребенка

        .row
            .col-12
                //1
                .about-course__column.before-line
                    .about-course__column--number
                        span 1
                    .about-course__column--text
                        span Нескучная программа
                        |  Каждая лекция отвечает на актуальные вопросы, возникающие у любой беременной женщины.
                //2
                .about-course__column
                    .about-course__column--number
                        span 2
                    .about-course__column--text
                        span Только практикующие спикеры
                        |   Вебинары записаны специалистами, признанными в своей области, которые в реальности приняли сотни родов.

                //3
                .about-course__column
                    .about-course__column--number
                        span 3
                    .about-course__column--text
                        span Индивидуальная консультация
                            span.pink  *
                        |  Предоставляем возможность получить персональные рекомендации врача по Skype.//4
                //4
                .about-course__column
                    .about-course__column--number
                        span 4
                    .about-course__column--text
                        span Объективный взгляд на беременность.
                        |  Информируем обо всех существующих возможностях и предоставляем выбор.//5
                //5
                .about-course__column
                    .about-course__column--number
                        span 5
                    .about-course__column--text
                        span Универсальность.
                        |  Все необходимое вы узнаете на одном онлайн-ресурсе и из одного информационно-обучающего курса.
                //6
                .about-course__column.before-line
                    .about-course__column--number
                        span 6
                    .about-course__column--text
                        span Комплексный подход к родам.
                        |  Программа курсов включает в себя максимально подробное описание разных этапов беременности, родов и послеродового периода.
                //7
                .about-course__column
                    .about-course__column--number
                        span 7
                    .about-course__column--text
                        span Испытанные временем программы.
                        |   Курс — это сборник практических врачебных рекомендаций и наблюдений за беременными женщинами в реальности.
                //8
                .about-course__column
                    .about-course__column--number
                        span 8
                    .about-course__column--text
                        span Удобный формат.
                        |  Короткие видеосюжеты не утомительны, понятны и могут быть просмотрены женщиной, когда ей удобно.
                //9
                .about-course__column
                    .about-course__column--number
                        span 9
                    .about-course__column--text
                        span Положительные отзывы.
                        |  У нас очень много благодарностей от участниц курса, каждая из которых нам дорога и подтверждает, что мы делаем очень нужное дело.
                //10
                .about-course__column
                    .about-course__column--number
                        span 10
                    .about-course__column--text
                        span Дополнительные предложения.
                        |  Вместе с курсом предоставляется онлайн-поддержка и ссылки на полезный контент.
        .row
            .col-12
                p.about-course__textInfo
                    span.pink *
                    |  предоставляется в рамках пакета услуг «Полный»








