section.consulting-our-doctors
    .container.container__right--right
        .row
            .col-12
                h2.title.title--gray.left-dot Наши врачи
    .container.container__right--none
        .row
            .columns
                .col-4.col-md-12
                    .columns__Wrapper
                        .columns__img
                            img(src='assets/images/content/consulting-our-doctors/doc-1.png')
                        .columns__before.columns__before--white.columns__block.columns__block--1
                            span
                                | Баранова
                                br
                                | Татьяна Николаевна


                        .columns__before.columns__before--pink.columns__block.columns__block--2
                            span
                                | гинеколог
                                br
                                | доктор медицинских наук
                            span.italic
                                |Составляет программу лабораторного и инструментального обследования пациентки при первичном и вторичном бесплодии, проводит лечение выявленной патологии консервативными методами. Диагностирует инфекции, передающиеся половым путём, оказывает квалифицированную лечебную и профилактическую помощь при воспалительных заболеваниях женских половых органов.

                        .columns__before.columns__before--gray.columns__block.columns__block--3
                            span
                                | Образование Врач первой квалификационной категории.  Интернатура по акушерству и гинекологии (1983 г.).
                                br
                                | Астраханский государственный медицинский институт им. А.В. Луначарского, специальность – лечебное дело (1982 г.).

                        .columns__before.columns__before--blue.columns__block.columns__block--4
                            span
                                | Опыт: Медицинский стаж – 34 года.
                .col-4.col-md-12
                    .columns__Wrapper
                        .columns__img
                            img(src='assets/images/content/consulting-our-doctors/doc-2.png')
                        .columns__before.columns__before--white.columns__block.columns__block--1
                            span
                                | Ситаров
                                br
                                | Никита Георгиевич


                        .columns__before.columns__before--pink.columns__block.columns__block--2
                            span
                                | гинеколог
                                br
                                | доктор медицинских наук
                            span.italic
                                |Составляет программу лабораторного и инструментального обследования пациентки при первичном и вторичном бесплодии, проводит лечение выявленной патологии консервативными методами. Диагностирует инфекции, передающиеся половым путём, оказывает квалифицированную лечебную и профилактическую помощь при воспалительных заболеваниях женских половых органов.

                        .columns__before.columns__before--gray.columns__block.columns__block--3
                            span
                                | Образование Врач первой квалификационной категории.  Интернатура по акушерству и гинекологии (1983 г.).
                                br
                                | Астраханский государственный медицинский институт им. А.В. Луначарского, специальность – лечебное дело (1982 г.).

                        .columns__before.columns__before--blue.columns__block.columns__block--4
                            span
                                | Опыт: Медицинский стаж – 34 года.

                .col-4.col-md-12
                    .columns__Wrapper
                        .columns__img
                            img(src='assets/images/content/consulting-our-doctors/doc-1.png')
                        .columns__before.columns__before--white.columns__block.columns__block--1
                            span
                                | Сизова
                                br
                                | Лада Витальевна


                        .columns__before.columns__before--pink.columns__block.columns__block--2
                            span
                                | гинеколог
                                br
                                | доктор медицинских наук
                            span.italic
                                |Составляет программу лабораторного и инструментального обследования пациентки при первичном и вторичном бесплодии, проводит лечение выявленной патологии консервативными методами. Диагностирует инфекции, передающиеся половым путём, оказывает квалифицированную лечебную и профилактическую помощь при воспалительных заболеваниях женских половых органов.

                        .columns__before.columns__before--gray.columns__block.columns__block--3
                            span
                                | Образование Врач первой квалификационной категории.  Интернатура по акушерству и гинекологии (1983 г.).
                                br
                                | Астраханский государственный медицинский институт им. А.В. Луначарского, специальность – лечебное дело (1982 г.).

                        .columns__before.columns__before--blue.columns__block.columns__block--4
                            span
                                | Опыт: Медицинский стаж – 34 года.

