section.fear
    .container.container__right--left
        .row
            .col-12
                .title.before-line.before-line--gray
                    | Знаем, как вам
                    br
                    | сейчас страшно

        .row
            .col-12
                ul.fear__ul
                    li.fear__li.fear__li--title
                        | Как я могу убедиться, что вы не мошенники?
                    li.fear__li
                        | Вы можете отследить нашу деятельность в средствах массовой информации, посетить нашу страницу в Facebook, ознакомиться с нашим сайтом, прочитать отзывы наших пациенток и сформировать собственное мнение после общения с нами, посетив наш центр при клинике «Естественная медицина», которая существует с 2006 года.
                ul.fear__ul
                    li.fear__li.fear__li--title
                        | Даже если вы такие успешные, как вы говорите, то где гарантии качества видеоуроков?
                    li.fear__li
                        | Вы можете зайти на наш сайт, просмотреть одну доступную лекцию и оценить для себя ее качество. Мы надеемся, что даже отдельная лекция будет вам полезна!



                ul.fear__ul
                    li.fear__li.fear__li--title
                        | Скажите, пожалуйста, как вы проверяете информацию?
                    li.fear__li
                        | Вся информация в нашем онлайн-курсе основана на реальных медицинских исследованиях и врачебных наблюдениях. В Москве действует наш центр акушерства, который принимает реальных беременных женщин и оказывает поддержку во время родов.


                ul.fear__ul
                    li.fear__li.fear__li--title
                        | Я хотела бы получить рекомендации. Среди моих друзей ваших клиентов нет. Для меня это важно. Как быть?
                    li.fear__li
                        | У вас есть возможность ознакомиться с отзывами наших клиенток, опубликованными на сайте с фотографиями детей, размещенными с разрешения родителей.

                ul.fear__ul
                    li.fear__li.fear__li--title
                        | Мне кажется, что онлайн-формат неэффективен.
                    li.fear__li
                        | Не сомневайтесь — онлайн-курс уже доказал свою эффективность на практике. Вы можете просматривать лекции любое количество раз в нужный вам момент в течение 3 месяцев с момента покупки курса, в то время как офлайн-занятия не предоставляют такой возможности.

                ul.fear__ul
                    li.fear__li.fear__li--title
                        | Я где-то прочитала, что к вам можно приехать в реальности?
                    li.fear__li
                        | Действительно, наш центр действует офлайн и приглашает желающих лично обратиться к нашим специалистам.

                ul.fear__ul
                    li.fear__li.fear__li--title
                        | Вы можете сделать роды безболезненными и легкими?
                    li.fear__li
                        | Мы сделаем все, чтобы вы подошли к этому этапу вашей жизни вооруженными необходимой информацией, а не со страхом.

