section.five-steps
    .container.container__right--none
        .row
            .col-12
                .title.title--white.before-line
                    | 5 шагов к осознанным родам,
                    | ставшими реальностью
                    | для всех наших выпускников

        .five-steps__columns
            .row
                .col-12

                    .five-steps__column
                        .five-steps__column--number
                            span
                                | 1
                        .five-steps__column--text
                            p
                                | Вы заходите на наш сайт и знакомитесь с форматом наших автовебинаров, которые транслируются ежедневно по вечерам.
                    .five-steps__column
                        .five-steps__column--number
                            span
                                | 2
                        .five-steps__column--text
                            p
                                | Покупаете курс и получаете доступ к видеолекциям.
                    .five-steps__column
                        .five-steps__column--number
                            span
                                | 3
                        .five-steps__column--text
                            p
                                | Изучаете видеоматериал, читаете полезные статьи, ссылки на которые мы высылаем после приобретения курса, формируете вопросы и задаете их нашему специалисту в онлайн-режиме.
                    .five-steps__column
                        .five-steps__column--number
                            span
                                | 4
                        .five-steps__column--text
                            p
                                | Обращаетесь при желании в наш центр в режиме офлайн, если вы находитесь в Москве.
                    .five-steps__column
                        .five-steps__column--number
                            span
                                | 5
                        .five-steps__column--text
                            p
                                | Используете максимум информации, полученной посредством нашего курса и онлайн общения, во время беременности и родов, и советуете нас своим подругам как эффективный курс по подготовке к родам –
                                b  вносите свой вклад в развитие общества и более здоровые и счастливые семьи по всему миру.
