section.happy-parents
    .container.container__right--right
        .row
            .col-12
                h2.title.title--blue.before-line.before-line--pink
                    | Счастливые родители
                    | делятся опытом

        .row
            .col-12
                .happy-parents__slider.owl-carousel
                    .happy-parents__slider--item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/free-webinar/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")

                        .happy-parents__info.happy-parents__info--name.before-line.before-line--pink
                            | Ирина Бородач
                        .happy-parents__info.happy-parents__info--years
                            | 24 года
                        .happy-parents__info.happy-parents__info--count
                            | первые роды
                        .happy-parents__info.happy-parents__info--text
                            | «…вчера Тимошке исполнилось три месяца, а я наконец-то нашла время сделать то, что давно хотела — рассказать о чудесном акушере, который помог сынуле появиться на свет, а мне — полностью изменить отношение к родам. Об Ольге Банниковой. Надеюсь, что мой рассказ пригодится мамочкам, которые только задумываются над тем, где и как появится на свет их малыш.»
                    .happy-parents__slider--item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/free-webinar/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")

                        .happy-parents__info.happy-parents__info--name.before-line.before-line--pink
                            | Ирина Бородач
                        .happy-parents__info.happy-parents__info--years
                            | 24 года
                        .happy-parents__info.happy-parents__info--count
                            | первые роды
                        .happy-parents__info.happy-parents__info--text
                            | «…вчера Тимошке исполнилось три месяца, а я наконец-то нашла время сделать то, что давно хотела — рассказать о чудесном акушере, который помог сынуле появиться на свет, а мне — полностью изменить отношение к родам. Об Ольге Банниковой. Надеюсь, что мой рассказ пригодится мамочкам, которые только задумываются над тем, где и как появится на свет их малыш.»
                    .happy-parents__slider--item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/free-webinar/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")

                        .happy-parents__info.happy-parents__info--name.before-line.before-line--pink
                            | Ирина Бородач
                        .happy-parents__info.happy-parents__info--years
                            | 24 года
                        .happy-parents__info.happy-parents__info--count
                            | первые роды
                        .happy-parents__info.happy-parents__info--text
                            | «…вчера Тимошке исполнилось три месяца, а я наконец-то нашла время сделать то, что давно хотела — рассказать о чудесном акушере, который помог сынуле появиться на свет, а мне — полностью изменить отношение к родам. Об Ольге Банниковой. Надеюсь, что мой рассказ пригодится мамочкам, которые только задумываются над тем, где и как появится на свет их малыш.»
                    .happy-parents__slider--item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/free-webinar/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")

                        .happy-parents__info.happy-parents__info--name.before-line.before-line--pink
                            | Ирина Бородач
                        .happy-parents__info.happy-parents__info--years
                            | 24 года
                        .happy-parents__info.happy-parents__info--count
                            | первые роды
                        .happy-parents__info.happy-parents__info--text
                            | «…вчера Тимошке исполнилось три месяца, а я наконец-то нашла время сделать то, что давно хотела — рассказать о чудесном акушере, который помог сынуле появиться на свет, а мне — полностью изменить отношение к родам. Об Ольге Банниковой. Надеюсь, что мой рассказ пригодится мамочкам, которые только задумываются над тем, где и как появится на свет их малыш.»
                    .happy-parents__slider--item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/free-webinar/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")

                        .happy-parents__info.happy-parents__info--name.before-line.before-line--pink
                            | Ирина Бородач
                        .happy-parents__info.happy-parents__info--years
                            | 24 года
                        .happy-parents__info.happy-parents__info--count
                            | первые роды
                        .happy-parents__info.happy-parents__info--text
                            | «…вчера Тимошке исполнилось три месяца, а я наконец-то нашла время сделать то, что давно хотела — рассказать о чудесном акушере, который помог сынуле появиться на свет, а мне — полностью изменить отношение к родам. Об Ольге Банниковой. Надеюсь, что мой рассказ пригодится мамочкам, которые только задумываются над тем, где и как появится на свет их малыш.»

    //btn-banner
    .container.container__right.container__right--left
        .row.banner
            .col-12
                .banner__wrapper.flex.flex-align--center
                    .full-right
                    h2.banner__title
                        | Получите доступ к очень
                        br
                        | полезному онлайн-курсу,
                        br
                        | чтобы спокойно и уверенно
                        br
                        | ждать малыша!