section.information
    .container.container__right--right
        .row
            .col-12
                h1.title.information__title.left-dot
                    | Вы получите на 100%
                    | качественную информацию
                    | о родах и уходу за малышом


                button.btn.more-info.more-info--information
                    | Больше информации

        .row.information__text



            .col-5.col-md-12
                p.information__text--left.before-line.before-line--gray
                    |Акушерский центр «Название» при клинике «Естественная медицина» предлагает онлайн-курс по подготовке к родам, который содержит подробную практическую информацию, в том числе — о физиологическом течении беременности и родах. Мы расскажем вам о режиме питания, особенностях ежедневной активности и психологических реакциях женщины в этот период ее жизни, объясним, как будет развиваться ребенок, как ухаживать за ним.

            .col-7.col-md-12
                p.information__text--right
                    span.information__text--tile
                        | С курсом вы получите:
                ul.information__text--ul
                    li.information__text--li
                        | достоверную и исчерпывающую информацию о процессах, происходящих в организме женщины во время беременности и после родов;
                    li.information__text--li
                        | возможность сделать осознанный выбор оптимального для себя алгоритма родов;
                    li.information__text--li
                        | уверенность в том, что женщины рожают в любви с осознанием важности момента для ребенка и для себя.
                    li.information__text--li
                        | возможность просматривать лекции, записанные признанными практикующими специалистами;
                    li.information__text--li
                        | онлайн-поддержку в виде ответов на любые вопросы, заданные на нашем сайте;
                    li.information__text--li
                        | 100% полезный контент, доступ к которому открывается после приобретения курса;
                    li.information__text--li
                        | развернутые ответы на Ваши вопросы, которые могут возникнуть в связи с беременностью, родами и уходом за младенцем;