section.join
    .container.container__right--right
        .row
            .col-12
                .join__title.right
                    | У нас уже более
                    span 1 000
                    | счастливых мам.
                    br
                    | Присоединяйтесь!


    //banner
    .container.container__right.container__right--none
        .row.banner.banner--left
            .col-12
                .banner__wrapper.flex.flex-align--center.flex-justify--right
                    .full-left
                    h2.banner__title
                        | Присоединиться
