section.natural-medicine
    .container.container__right--left
        .row
            .col-12
                .title.title--gray.before-line.before-line--gray
                    | «Естественная медицина»:
                    br

                    | &nbsp мы — за близость к природе!


    .container.container__right--none
        .natural-medicine__content
            .row
                .natural-medicine__contentWrapper
                    .col-2.col-sm-12
                        .natural-medicine__content--image
                            img(src='assets/images/content/natural-medicine/icon-1.png')
                    .col-10.col-sm-12
                        .natural-medicine__content--text
                            p
                                | Клиника «Естественная медицина» была создана в 2006 году с целью помогать людям поддерживать здоровье с помощью натуральных средств и естественных методов лечения. Со временем забота о здоровье беременных женщин была выделена в самостоятельное направление, и на базе клиники был образован акушерский центр «Название», задачей которого является максимальная забота о женщинах на этапе вынашивания ребенка, его рождения и вскармливания грудью.
            .row
                .natural-medicine__contentWrapper
                    .col-2.col-sm-12
                        .natural-medicine__content--image
                            img(src='assets/images/content/natural-medicine/icon-2.png')
                    .col-10.col-sm-12
                        .natural-medicine__content--text
                            p
                                | Наши пациентки не останутся при беременности наедине с новым для себя состоянием и опытом. Мы всегда рядом! Мы информируем, организовываем онлайн- и Skype-общение с практикующими опытными врачами, предлагаем видеокурс по подготовке к родам, проводим офлайн-курсы в реальном времени, ведем беременность, принимаем роды и выезжаем на послеродовые осмотры к женщинам, проживающим в Москве. В некоторые наши программы включено физическое и психологическое восстановление женщины, а также педиатрическая поддержка для новорожденного малыша.

            .row
                .natural-medicine__contentWrapper
                    .col-2.col-sm-12
                        .natural-medicine__content--image
                            img(src='assets/images/content/natural-medicine/icon-3.png')
                    .col-10.col-sm-12
                        .natural-medicine__content--text
                            p
                                b Наш видео-курс разработан специально для тех, кто живет:
                            ul
                                li в Москве и не имеет возможности познакомиться с уникальным контентом офлайн,
                                li не в Москве и не обладает доступом к качественной и проверенной информации.
            .row
                .natural-medicine__contentWrapper
                    .col-2.col-sm-12
                        .natural-medicine__content--image
                            img(src='assets/images/content/natural-medicine/icon-4.png')
                    .col-10.col-sm-12
                        .natural-medicine__content--text
                            p
                                | Миссией нашего акушерского центра является создание благоприятных условий для осознанной счастливой беременности и естественного рождения здорового ребенка с минимальным необходимым вмешательством медицины. Мы ставим перед собой цели применять только эффективную передовую практику акушерства и дарить нашим женщинам радость естественных родов и счастливого материнства.
            .row
                .natural-medicine__contentWrapper.natural-medicine__content--sec2
                    .col-10.col-sm-12.right
                        p.natural-medicine__content--text
                            b С момента основания центра «Название» его специалисты:

                        .row
                            .col-3.col-md-6.col-sm-12
                                .natural-medicine__content--number
                                    span
                                        | 12%
                                .natural-medicine__content--text
                                    p
                                        | кесаревых сечений
                                        | против 25% в общем
                                        | потоке роддомо
                            .col-3.col-md-6.col-sm-12
                                .natural-medicine__content--number
                                    span
                                        | 2 780
                                .natural-medicine__content--text
                                    p
                                        | провели
                                        br
                                        | консультаций
                            .col-3.col-md-6.col-sm-12
                                .natural-medicine__content--number
                                    span
                                        | 20%
                                .natural-medicine__content--text
                                    p
                                        | случаев стимуляции
                                        | роды против средне-
                                        | статистических 90%
                            .col-3.col-md-6.col-sm-12
                                .natural-medicine__content--number
                                    span
                                        | >1000
                                .natural-medicine__content--text
                                    p
                                        | обучили сотни мам
                                        | и пап на офлайн-курсах