section.recording

    .fullHeight#block-1
        .container
            .row
                .col-12
                    .flex.flex-justify--right
                        a(href='#')
                            img(src='assets/images/icons/logo-mama.png')
        .container.container__right.container__right--left
            .row
                .col-12
                    .recording-slider.owl-carousel
                        .recording-sliderItem
                            .recording-slider__wrap
                                h2.title
                                    | Запишитесь на онлайн-курс
                                    | по подготовке к родам
                                p.recording-slider__text
                                    | и пройдите беременность
                                    br
                                    | под руководством специалистов
                                    br
                                    | с более чем 10-летним опытом

                        .recording-sliderItem
                            .recording-slider__wrap
                                h2.title
                                    | Запишитесь на онлайн-курс
                                p.recording-slider__text
                                    | и пройдите беременность
                                    | под руководством специалистов

                        .recording-sliderItem
                            .recording-slider__wrap
                                h2.title
                                    | Запишитесь на онлайн-курс
                                p.recording-slider__text
                                    | и пройдите беременность
                                    | под руководством специалистов

                        .recording-sliderItem
                            .recording-slider__wrap
                                h2.title
                                    | Запишитесь на онлайн-курс
                                p.recording-slider__text
                                    | и пройдите беременность
                                    | под руководством специалистов

                        .recording-sliderItem
                            .recording-slider__wrap
                                h2.title
                                    | Запишитесь на онлайн-курс
                                p.recording-slider__text
                                    | и пройдите беременность
                                    | под руководством специалистов

        .recording__footer
            .container.container__right.container__right--left
                .recording-slider__wrap
                    svg(width="13px" height="23px" class="to-next")
                        path(d="M6.528,22.856 C2.964,22.856 0.003,19.994 0.003,16.464 L0.003,6.389 C0.003,2.861 2.964,-0.002 6.528,-0.002 C10.092,-0.002 12.982,2.861 12.982,6.389 L12.982,16.464 C12.982,19.994 10.092,22.856 6.528,22.856 ZM11.539,6.389 C11.539,3.653 9.291,1.426 6.528,1.426 C3.765,1.426 1.445,3.653 1.445,6.389 L1.445,16.464 C1.445,19.200 3.765,21.426 6.528,21.426 C9.291,21.426 11.539,19.200 11.539,16.464 L11.539,6.389 ZM6.500,9.284 C6.102,9.284 5.779,8.964 5.779,8.569 L5.779,4.999 C5.779,4.604 6.102,4.284 6.500,4.284 C6.898,4.284 7.221,4.604 7.221,4.999 L7.221,8.569 C7.221,8.964 6.898,9.284 6.500,9.284 Z")



    .container.container__right.container__right--left
        .row
            .col-12
                .videoBlock.recording__videoBlock
                    .videoBlock-image
                        img(src='assets/images/content/recording/videoBg.jpg')
                    button.btn.btn__video.flex.flex-align--center
                        span.btn__video--text Видео
                        span.btn__videoImg
                            svg(width="8px" height="10px" class='btn__videoImg--img')
                                path(
                                d="M1.289,10.013 L1.289,10.013 C0.542,10.012 -0.000,9.384 -0.000,8.518 L-0.000,2.480 C-0.000,1.613 0.542,0.984 1.289,0.984 C1.543,0.984 1.807,1.062 2.052,1.209 L7.220,4.284 C7.707,4.574 7.985,5.023 7.985,5.513 C7.985,5.995 7.715,6.433 7.245,6.713 L2.050,9.790 C1.807,9.935 1.543,10.013 1.289,10.013 ZM1.289,2.308 C1.257,2.308 1.208,2.308 1.208,2.480 L1.208,8.518 C1.208,8.690 1.257,8.690 1.289,8.690 C1.319,8.690 1.383,8.681 1.474,8.627 L6.669,5.550 C6.694,5.536 6.715,5.522 6.731,5.508 C6.709,5.490 6.680,5.469 6.643,5.447 L1.475,2.371 C1.383,2.316 1.319,2.308 1.289,2.308 Z"
                                )

    .container.container__right.container__right--right
        .row.blockInfo-wrapper
            .col-4.col-md-6
                .blockInfo
                    .blockInfo__img
                        img(src='assets/images/content/recording/video.png')
                    .blockInfo__text
                        span Более 20 часов увлекательных видеолекций с врачами-практиками
            .col-4.col-md-6
                .blockInfo
                    .blockInfo__img
                        img(src='assets/images/content/recording/video-2.png')
                    .blockInfo__text
                        span Самая важная информация о беременности и родах в первые месяцы жизни ребенка
            .col-4.col-md-6
                .blockInfo
                    .blockInfo__img
                        img(src='assets/images/content/recording/video-3.png')
                    .blockInfo__text
                        span Регулярная онлайн-поддержка в специальном чате.
            .col-4.col-md-6
                .blockInfo
                    .blockInfo__img
                        img(src='assets/images/content/recording/video-4.png')
                    .blockInfo__text
                        span Более 50 счастливых супружеских пар прошли обучение в нашем центре только в 2016 г
            .col-4.col-md-6
                .blockInfo
                    .blockInfo__img
                        img(src='assets/images/content/recording/video-5.png')
                    .blockInfo__text
                        span
                            | Удобная подача материала
                            | небольшими блоками,
                            | легкими для запоминания
            .col-4.col-md-6
                .blockInfo
                    .blockInfo__img
                        img(src='assets/images/content/recording/video-6.png')
                    .blockInfo__text
                        span
                            | Фундаментальный
                            | комплексный подход
                            | к подготовке к родам
    //btn-banner
    .container.container__right.container__right--none
        .row.banner
            .col-4.col-sm-6
                .banner__text.flex.flex-align--center.text__right--78
                    span
                        | Запишитесь на бесплатную
                        | консультацию, чтобы получить
                        | подробную информацию о курсе
            .col-8.col-sm-6
                .banner__wrapper.flex.flex-align--center
                    .full-right
                    h2.banner__title
                        | Записаться
                        br
                        | на обучение
