section.slider-2.flex.flex-align--center
    .container
        .slider-2__wrapper.owl-carousel
            div.slider-2__item
                .title.title--white
                    | Рабочие будни специалистов,
                    | которые будут обучать вас лично
            div.slider-2__item
                .title.title--white
                    | Рабочие будни специалистов,
                    | которые будут обучать вас лично
            div.slider-2__item
                .title.title--white
                    | Рабочие будни специалистов,
                    | которые будут обучать вас лично
            div.slider-2__item
                .title.title--white
                    | Рабочие будни специалистов,
                    | которые будут обучать вас лично

