section.three-options
    .container.container__right--none
        .row
            .col-4.col-md-1
                .left-dot.left-dot--three-options
            .col-8
                .title
                    | 3 варианта курса:
                    | выбирайте, что подходит
                    | именно вам

        .three-options__columns
            .row
                .col-4.col-md-12
                    .three-options__column
                        .three-options__columnWr.three-options__columnWr--white
                            .three-options__column-Number
                                 span.title
                                    | 1

                            h2.three-options__column-Title
                                | Базовый тариф

                            button.btn.more-info.more-info--three-options
                                | Больше информации

                            p.three-options__column-Text
                                | Покупаете видеокурс по подготовке к родам, состоящий из 10 лекций, записанных признанными практикующими врачами.

                            p.three-options__column-Price-Text
                                | Стоимость набора лекций

                            .three-options__column-Price
                                span
                                    | 7 000 ₽

                        a(href='#').btn.three-options__column-button заказать
                .col-4.col-md-12
                    .three-options__column
                        .three-options__columnWr.three-options__columnWr--gray
                            .three-options__column-Number
                                 span.title
                                    | 2

                            h2.three-options__column-Title
                                | Основательный тариф
                            button.btn.more-info.more-info--three-options
                                | Больше информации
                            p.three-options__column-Text
                                | Покупаете 10 лекций видеокурса по подготовке к родам и получаете доступ к онлайн-поддержке, где вы можете задать любой вопрос и в течение суток получить ответ специалиста.

                            p.three-options__column-Price-Text
                                | Стоимость пакета услуг

                            .three-options__column-Price
                                span
                                    | 10 000 ₽

                        a(href='#').btn.three-options__column-button заказать
                .col-4.col-md-12
                    .three-options__column
                        .three-options__columnWr.three-options__columnWr--pink
                            .three-options__column-Number
                                 span.title
                                    | 3

                            h2.three-options__column-Title
                                | Полный тариф
                            button.btn.more-info.more-info--three-options
                                | Больше информации
                            p.three-options__column-Text
                                | Покупаете набор из 10 видеолекций, подробно описывающих подготовку к родам, роды и послеродовый период; пользуетесь возможностями, которые предоставляет онлайн-поддержка, и обращаетесь к нашему специалисту за индивидуальным Skype-общением о тактике ведения вашей беременности.

                            p.three-options__column-Price-Text
                                | Стоимость пакета услуг

                            .three-options__column-Price
                                span
                                    | 12 000 ₽

                        a(href='#').btn.three-options__column-button заказать


