section.VT-stage
    .container.container__right--none
        .row
            .col-3
                h2.stage__text Этап
                    span.stage__textNumber 1
            .col-7
                .stage__pagination.flex.flex-justify--right
                    a(href='#').stage__paginationLink 2
                    a(href='#').stage__paginationLink 3
                    a(href='#').stage__paginationLink 4
    .container.container__right--right
        .row
            .col-12
                .title.title--stage.title--gray
                    | Видео-уроки и тесты
                .stageInfo
                    p
                        | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения форм развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет оценить значение форм развития.
                        br
                        br
                        | Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и место обучения кадров влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.



    .container.container__right.container__right--none
        .row.banner.banner--stage
            .col-12
                .banner__wrapper.flex.flex-align--center
                    .full-right
                    h2.banner__title
                        | перейти к уроку


    .container.container__right--none
        .row
            .wr-videoSlides
                .col-12
                    .flex.flex-align--center
                        h2.stage__text.stage__text--video Видео
                        div.VT-video__links
                            a(href='#').VT-video__link.VT-video__link--viewed 1
                            a(href='#').VT-video__link.VT-video__link--active 2
                            a(href='#').VT-video__link 3





    .container.container__right--right
        .row
            .col-12
                .stageSlide-videos.owl-carousel
                    .slider-item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/recording/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")


                            .videoBlock__text
                                p
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития

                            button.bnt.btn__stageSlideVideo.btn__stageSlideVideo--viewed

                    .slider-item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/recording/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")


                        .videoBlock__text
                            p
                                | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития


                        button.bnt.btn__stageSlideVideo.btn__stageSlideVideo
                    .slider-item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/recording/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")


                        .videoBlock__text
                            p
                                | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития


                        button.bnt.btn__stageSlideVideo.btn__stageSlideVideo
                    .slider-item
                        .videoBlock.recording__videoBlock
                            .videoBlock-image
                                img(src='assets/images/content/recording/videoBg.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text Видео
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")


                        .videoBlock__text
                            p
                                | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития


                        button.bnt.btn__stageSlideVideo.btn__stageSlideVideo


