section.VT-test
    .container.container__right--none
        .row
            .col-12
                .VT-test-pagination.flex
                    .VT-test-pagination__text
                        .stage__text.stage__text--video  Тест
                    .VT-test-pagination__links.flex
                        div.VT-test-pagination__link.VT-test-pagination__link--active(data-test="1") 1
                        div.VT-test-pagination__link(data-test="2") 2
                        div.VT-test-pagination__link(data-test="3") 3
                        div.VT-test-pagination__link(data-test="4") 4
                        div.VT-test-pagination__link(data-test="5") 5
                        div.VT-test-pagination__link(data-test="6") 6
                        div.VT-test-pagination__link(data-test="7") 7
                        div.VT-test-pagination__link(data-test="8") 8
                        div.VT-test-pagination__link(data-test="9") 9
                        div.VT-test-pagination__link(data-test="10") 10
    .container.container__right--right
        .row
            .col-12
                .test__questionWrapper

                    h1.title.title--VT
                        | Тест на беременность онлайн


                    .before__textTest
                        | Для успешного
                        | прохождения
                        | необходимо
                        | 80% или больше
                        | правильных
                        | ответов!
                    .slider.owl-carousel
                        .test_question#test-1
                            form.test_questionForm
                                .test__questionText
                                   | Сколько длится задержка Вашей менструации?
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития

                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно



                        .test_question#test-2
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 2
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития


                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно


                        .test_question#test-3
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 3
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития

                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно



                        .test_question#test-4
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 3
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития


                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно


                        .test_question#test-5
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 5
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития



                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно

                        .test_question#test-6
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 6
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития

                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно



                        .test_question#test-7
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 7
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития


                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно


                        .test_question#test-8
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 8
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития

                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно


                        .test_question#test-9
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 9
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно





                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития


                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно


                        .test_question#test-10
                            form.test_questionForm
                                .test__questionText
                                    | Сколько длится задержка Вашей менструации? 10
                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1' checked)
                                        .test__radio.test__radio--active
                                        .test__answer
                                            | один-два дня





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | более 5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | 3-5 дней





                                .form-group
                                    .flex.flex-align--center
                                        input.test__radioBtn(type='radio' name='question-1')
                                        .test__radio
                                        .test__answer
                                            | вечно






                                p.subTest__text
                                    | Идейные соображения высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения дальнейших направлений развития. Равным образом консультация с широким активом представляет собой интересный эксперимент проверки модели развития



                                .flex.flex-align--center
                                    button.btn.btn__test.btn__test--reply  ответить
                                    button.btn.btn__test.btn__test--not-true.btn__test--disable  Не верно


                    .test-nav
                        span