section.webinar-see-also
    .container.container__right--none
        .row
            .col-12.relative
                .inline-block
                    a(href='#').see-also__block
                        .see-also__image
                            img(src='assets/images/content/webinar/ph-1.jpg')
                        .see-also__info
                            | Партнерские роды:
                            | «за» и «против»

                .inline-block
                    a(href='#').see-also__block
                        .see-also__image
                            img(src='assets/images/content/webinar/ph-2.jpg')
                        .see-also__info
                            | Приучение ребенка
                            | к горшку
                .inline-block
                    a(href='#').see-also__block
                        .see-also__image
                            img(src='assets/images/content/webinar/ph-3.jpg')
                        .see-also__info
                            | Детская ревность.
                            | Так ли уж это плохо?


                .inline-block
                    a(href='#').see-also__block
                        .see-also__image
                            img(src='assets/images/content/webinar/ph-4.jpg')
                        .see-also__info
                            | Зависимость
                            | или любовь?



                .inline-block
                    a(href='#').see-also__block
                        .see-also__image
                            img(src='assets/images/content/webinar/ph-5.jpg')
                        .see-also__info
                            | Детская агрессия


                .inline-block
                    a(href='#').see-also__block
                        .see-also__image
                            img(src='assets/images/content/webinar/ph-6.jpg')
                        .see-also__info
                            | Беременность
                            | без лекарств

                a(href='#').link__seeAll
                    svg(width="38px" height="38px")
                        path(d="M38.000,20.000 L20.000,20.000 L20.000,38.000 L18.000,38.000 L18.000,20.000 L-0.000,20.000 L-0.000,18.000 L18.000,18.000 L18.000,-0.000 L20.000,-0.000 L20.000,18.000 L38.000,18.000 L38.000,20.000 Z")
    .container.container__right--right
        .row
            .col-12
                .next__vebinar.before-line.before-line--blue
                    | Следующий вебинар состоится
                    span.dateTime
                        |4 августа 2017 года в 15:00.
                    br
                    | Тема «Как не родить идиота». Осталяйте свои вопросы,
                    br
                    | мы обязательно из рассмотрим в этом вебинаре!

    .container.container__right--none
        .row
            .col-12
                form.your-question
                    .form-group
                        textarea(placeholder='Оставьте свой вопрос здесь …' required)
                    button(type='submit').hidden.your-questionBtn



    //btn-banner
    .container.container__right.container__right--none
        .row.banner
            .col-12
                .banner__wrapper.flex.flex-align--center
                    .full-right
                    h2.banner__title
                        | задать
                        br
                        | вопрос

