section.webinar-pregnancy
    .container.container__right--right
        .row
            .col-12
                .title.title--pregnancy.before-text.before-text--pregnancy
                    | Беременность и подготовка
                    | к рождению малыша

        .row
            .col-12
                .webinar__endText
                    p
                        |Вебинар завершен. Следующий состоится 15 августа в 16:00.
    .container.container__right--left
        .row.webinar__videoChatBlocks
            .col-7.col-md-12
                .videoBlock.videoBlock__chat.videoBlock__chat--active
                    .videoBlock-image
                        img(src='assets/images/content/free-webinar/videoBg.jpg')
                    button.btn.btn__video.flex.flex-align--center
                        span.btn__video--text презентация
                        span.btn__videoImg
                            svg(width="8px" height="10px")
                                use(xlink:href="#video")

                .webinar__questions
                    h1.webinar__questions-tile
                        | Вопросы вебинара по-минутно:

                    .webinar__questions-wrapper
                        .webinar__question.flex
                            .webinar__question-time.webinar__question-time--pink
                                span
                                | 3'
                            .webinar__question-text
                                span
                                | Посещение бассейна и беременность: можно или нельзя?


                        .webinar__question.flex
                            .webinar__question-time.webinar__question-time--pink
                                span
                                | 15'
                            .webinar__question-text
                                span
                                | Эпиляция во время беременности.


                        .webinar__question.flex
                            .webinar__question-time.webinar__question-time--pink
                                span
                                | 21'
                            .webinar__question-text
                                span
                                | Можно ли делать инголяции во время беременности?


                        .webinar__question.flex
                            .webinar__question-time.webinar__question-time--pink
                                span
                                | 59'
                            .webinar__question-text
                                span
                                | Опасен ли рентген во время беременности?






                h1.title.title--seeAlso.left-dot
                    | Смотрите также:
            .col-5.col-md-12
                .flex.flex-justify--right.flex--edit
                    .wrapper-right-webinar-column
                        .videoBlock.videoBlock__chat.videoBlock__chat--passed
                            .videoBlock-image
                                img(src='assets/images/content/webinar/videoChat.jpg')
                            button.btn.btn__video.flex.flex-align--center
                                span.btn__video--text видеочат
                                span.btn__videoImg
                                    svg(width="8px" height="10px")
                                        use(xlink:href="#video")

                            button.btn.full-screen
                                svg(width="10px" height="10px")
                                    path(d="M9.992,0.366 L9.986,2.621 C9.983,2.748 9.879,2.823 9.753,2.826 L9.593,2.826 C9.467,2.829 9.367,2.719 9.369,2.593 L9.378,1.079 L6.695,3.749 C6.573,3.871 6.376,3.871 6.254,3.749 C6.132,3.627 6.132,3.429 6.254,3.308 L8.927,0.646 L7.453,0.642 C7.327,0.645 7.210,0.558 7.191,0.409 L7.191,0.249 C7.194,0.123 7.299,0.018 7.425,0.015 L9.661,0.025 C9.664,0.025 9.666,0.024 9.668,0.024 L9.782,0.021 C9.845,0.020 9.902,0.045 9.942,0.085 C9.983,0.126 9.997,0.182 9.996,0.246 L9.984,0.360 C9.984,0.362 9.992,0.364 9.992,0.366 ZM1.082,9.367 L2.557,9.371 C2.682,9.369 2.799,9.456 2.818,9.604 L2.818,9.765 C2.815,9.891 2.711,9.996 2.585,9.998 L0.338,9.988 C0.336,9.989 0.334,9.990 0.332,9.990 L0.218,9.992 C0.155,9.994 0.098,9.969 0.058,9.928 C0.017,9.888 0.002,9.831 0.004,9.768 L0.016,9.654 C0.016,9.651 0.008,9.650 0.008,9.648 L0.014,7.392 C0.017,7.266 0.121,7.191 0.247,7.188 L0.417,7.188 C0.543,7.185 0.643,7.295 0.640,7.421 L0.632,8.927 L3.315,6.264 C3.436,6.143 3.634,6.143 3.756,6.264 C3.877,6.386 3.877,6.584 3.756,6.706 L1.082,9.367 ZM3.315,3.749 L0.632,1.087 L0.640,2.593 C0.643,2.719 0.543,2.829 0.417,2.826 L0.247,2.826 C0.121,2.823 0.017,2.748 0.014,2.621 L0.008,0.366 C0.008,0.364 0.016,0.362 0.016,0.360 L0.004,0.246 C0.002,0.182 0.017,0.126 0.058,0.085 C0.098,0.045 0.155,0.020 0.218,0.021 L0.332,0.024 C0.334,0.024 0.336,0.025 0.338,0.025 L2.585,0.015 C2.711,0.018 2.815,0.123 2.818,0.249 L2.818,0.409 C2.799,0.558 2.682,0.645 2.557,0.642 L1.082,0.646 L3.756,3.308 C3.877,3.429 3.877,3.627 3.756,3.749 C3.634,3.871 3.436,3.871 3.315,3.749 ZM6.695,6.264 L9.378,8.935 L9.369,7.421 C9.367,7.295 9.467,7.185 9.593,7.188 L9.753,7.188 C9.879,7.191 9.983,7.266 9.986,7.392 L9.992,9.648 C9.992,9.650 9.984,9.651 9.984,9.654 L9.996,9.768 C9.997,9.831 9.983,9.888 9.942,9.928 C9.902,9.969 9.845,9.994 9.782,9.992 L9.668,9.990 C9.666,9.990 9.664,9.989 9.661,9.988 L7.425,9.998 C7.299,9.996 7.194,9.891 7.191,9.765 L7.191,9.604 C7.210,9.456 7.327,9.369 7.453,9.371 L8.927,9.367 L6.254,6.706 C6.132,6.584 6.132,6.386 6.254,6.264 C6.376,6.143 6.573,6.143 6.695,6.264 Z")




                        .webinar__doctorName.left-dot
                            span Доктор Рожайкин И.А.
                        .webinar__date
                            span 23:05

                        .webinar__chat
                            .webinar__chatHeader
                                form.video-chat-form
                                    .form-group
                                        input.chatText
                                        button.btn.chat-btn
                                            svg(width="19px" height="21px")
                                                path(d="M17.919,0.063 C19.011,0.063 18.907,0.970 18.907,2.090 L18.907,15.266 C18.907,16.386 18.022,17.294 16.930,17.294 L3.182,17.294 L5.565,19.484 C5.854,19.767 5.947,20.227 5.659,20.510 L5.490,20.765 C5.200,21.048 4.733,21.048 4.444,20.765 L0.497,17.107 C0.492,17.102 0.486,17.101 0.481,17.096 L0.219,16.839 C0.075,16.697 0.003,16.511 0.004,16.324 C0.003,16.138 0.075,15.951 0.219,15.810 L0.481,15.554 C0.486,15.549 0.492,15.547 0.497,15.542 L4.506,11.791 C4.795,11.507 5.262,11.507 5.551,11.791 L5.720,12.046 C6.009,12.329 5.915,12.787 5.627,13.070 L3.279,15.253 L15.735,15.253 C16.395,15.253 16.931,14.704 16.931,14.027 L16.931,3.330 C16.931,2.653 16.930,4.181 16.930,2.090 C16.930,-0.000 17.919,0.063 17.919,0.063 Z")




                            .video-chat-body
                                p.video-chat__text.video-chat__text--user
                                    | Здравствуйте, Виктор Сергеевич! Как Ваше здоровье?
                                p.video-chat__text.video-chat__text--doctor
                                    | Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
                                p.video-chat__text.video-chat__text--user
                                    | Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.
                                p.video-chat__text.video-chat__text--doctor
                                    | Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
                                p.video-chat__text.video-chat__text--user
                                    | Что именно, Виктор? Давление, температура, рвота, понос?
                                p.video-chat__text.video-chat__text--doctor
                                    | Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
                                p.video-chat__text.video-chat__text--user
                                    | Что именно, Виктор? Давление, температура, рвота, понос?
                                p.video-chat__text.video-chat__text--user
                                    | Здравствуйте, Виктор Сергеевич! Как Ваше здоровье?
                                .video-chat__text.video-chat__text--doctor
                                    | Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
                                p.video-chat__text.video-chat__text--user
                                    | Что именно, Виктор? Давление, температура, рвота, понос?


