section.women-passed
    .container.container__right--right
        .row
            .col-12
                .title.title--gray.left-dot
                    | Они прожили осознанные роды
    .container.container__right--none
        .row
            .columns
                .col-4.col-md-12
                    .columns__Wrapper
                        .columns__img
                            img(src='assets/images/content/women-passed/w-face-1.png')
                        .columns__name.columns__before
                            span
                                | Алла Борунова

                        .columns__year
                            span
                                | 24 года

                        .columns__numberBirths
                            span
                                | первые роды
                        .columns__tasks.columns__text.columns__before
                            span
                                | Задачи: Избавиться от страха перед родами. Рожать в присутствии мужа (муж отказывался). Определить оптимальный рацион в дородовой и послеродовой периоды.
                        .columns__decision.columns__text.columns__before
                            span
                                | Решение: Проведена индивидуальная консультация. Приобретен полный курс лекций по подготовке к родам. Открыт доступ к курсу и всем дополнительным материалам. Даны рекомендации для разнообразного рациона по триместрам и для быстрого восстановления после родов.

                        .columns__results.columns__text.columns__before
                            span
                                | Результаты: 100% ожидание родов как самого счастливого момента в жизни. 100% согласие мужа на совместные роды. Был предложен индивидуальный оптимальный баланс питания на период беременности, который также отлично подошел всей семье.
                .col-4.col-md-12
                    .columns__Wrapper
                        .columns__img
                            img(src='assets/images/content/women-passed/w-face-2.png')
                        .columns__name.columns__before
                            span
                                | Оксана Таранова

                        .columns__year
                            span
                                | 36 лет

                        .columns__numberBirths
                            span
                                | вторые роды
                        .columns__tasks.columns__text.columns__before
                            span
                                | Задачи: Избавиться от страха перед новыми родами, возникшего после сложных первых родов. Соблюсти ряд ограничений, вызванных некоторыми сложностями со здоровьем. Исключить риски послеродовой депрессии, которая проявилась при первых родах.
                        .columns__decision.columns__text.columns__before
                            span
                                | Решение: Проведена индивидуальная консультация. Приобретен полный курс лекций по подготовке к родам.
                                br
                                | Открыт доступ ко всем дополнительным материалам. Изучены эффективные практики послеродового восстановления. Выявлены оптимальные пути защиты от возможных осложнений.

                        .columns__results.columns__text.columns__before
                            span
                                | Результаты: 100% полезная и нужная информация, вселившая уверенность перед родами. Качественная информация о способах работы с болью во время родов. Большинство ограничений перестали быть поводом для осложнений благодаря рекомендациям врачей онлайн школы «Название». 6 наиболее подходящих практик послеродового восстановления освоены.
                .col-4.col-md-12
                    .columns__Wrapper
                        .columns__img
                            img(src='assets/images/content/women-passed/w-face-3.png')
                        .columns__name.columns__before
                            span
                                | Леся Пловина

                        .columns__year
                            span
                                | 41 год

                        .columns__numberBirths
                            span
                                | первые роды
                        .columns__tasks.columns__text.columns__before
                            span
                                | Задачи: Успешно родить с кесаревым сечением. Выбрать оптимальный роддом с наиболее подходящими условиями и лучшими специалистами. Обеспечить полноценное грудное вскармливание малыша.
                        .columns__decision.columns__text.columns__before
                            span
                                | Решение: Проведена индивидуальная консультация. Приобретен полный курс лекций по подготовке к родам. Получены персональные рекомендации специалистов нашего центра. Освоены основные принципы успешного грудного вскармливания.

                        .columns__results.columns__text.columns__before
                            span
                                | Результаты: Здоровый ребенок при кесаревом сечении без осложнений для матери. 3 роддома с лучшими показателями по искусственным родам рекомендованы специалистом нашего центра в Skype-консультации. 4 из 4 разделов лекций курса на тему «Грудное вскармливание» оказались полезны на практике.

    //btn-banner
    .container.container__right.container__right--none
        .row.banner
            .col-4.col-md-4.col-sm-12
                .banner__text.flex.flex-align--center.text__right--78
                    span
                        span.bold
                            | Остались вопросы?
                            br
                            | Хотите знать больше о нашем курсе?
                            br
                        | Оставьте заявку, чтобы бесплатно
                        | получить развернутую консультацию
                        | о курсе.
            .col-8.col-md-8-12.col-sm-12
                .banner__wrapper.flex.flex-align--center
                    .full-right
                    h2.banner__title
                        | оставить
                        br
                        | заявку
