section.left-side
    .left-side-content
        .left-side-content__logo
            a(href='home.html')
                img(src='assets/images/icons/logo.png')
        .left-side-content__text
            span Онлайн школа думающих родителей


        .wrapper_btnMenu
            button.btn.btn__menu.flex.flex-align--center.flex-justify--center
                span.btn__menuLines

            .wrapper_btnMenu__menu
                svg(width="14px" height="14px").btn.btn__closeMenu
                    path(d="M8.414,6.999 L13.718,12.302 C14.108,12.693 14.108,13.326 13.718,13.716 C13.327,14.107 12.694,14.107 12.303,13.716 L7.000,8.413 L1.697,13.716 C1.306,14.107 0.673,14.107 0.282,13.716 C-0.108,13.326 -0.108,12.693 0.282,12.302 L5.586,6.999 L0.282,1.695 C-0.108,1.305 -0.108,0.672 0.282,0.282 C0.673,-0.109 1.306,-0.110 1.697,0.282 L7.000,5.584 L12.303,0.282 C12.694,-0.110 13.327,-0.109 13.718,0.282 C14.108,0.672 14.108,1.305 13.718,1.695 L8.414,6.999 Z")


                .wrapper_btnMenu__menu-links
                    ul
                        li
                            a(href='video-tests.html').wrapper_btnMenu__menu-link Видео-уроки и тесты
                        li
                            a(href='webinar.html').wrapper_btnMenu__menu-link Вебинары
                        li
                            a(href='consultations.html').wrapper_btnMenu__menu-link Консультации с врачом
                        li
                            a(href='consultations-video.html').wrapper_btnMenu__menu-link Чат
                        li
                            a(href='useful.html').wrapper_btnMenu__menu-link Полезные материалы


        .left-side__links
            ul.left-side__links--ul
                li.left-side__links--li
                    a(href='#')
                        svg(width="19px" height="20px" class='left-side__links--image')
                            path(d="M18.989,17.069 C18.984,17.021 18.979,16.976 18.979,16.932 C18.979,15.080 16.459,12.931 12.748,12.113 C13.509,11.227 14.102,10.024 14.102,8.657 L14.102,5.009 C14.102,2.153 12.131,-0.001 9.505,-0.001 C6.880,-0.001 4.909,2.153 4.909,5.009 L4.909,8.657 C4.909,10.096 5.269,11.355 6.105,12.254 C2.935,13.088 0.072,14.911 0.072,16.955 C0.072,16.996 0.030,17.042 0.025,17.089 C-0.006,17.394 -0.096,18.110 0.710,18.537 C2.437,19.453 5.717,19.998 9.498,19.998 C13.278,19.998 16.563,19.453 18.291,18.537 C19.096,18.110 19.019,17.381 18.989,17.069 ZM6.134,8.657 L6.134,5.009 C6.134,2.875 7.579,1.265 9.505,1.265 C11.430,1.265 12.876,2.875 12.876,5.009 L12.876,8.657 C12.876,10.791 11.430,12.400 9.505,12.400 C7.579,12.400 6.134,10.791 6.134,8.657 ZM17.724,17.411 C16.186,18.225 13.030,18.733 9.489,18.733 C5.947,18.733 2.792,18.225 1.254,17.411 C1.226,17.396 1.208,17.383 1.199,17.381 C1.199,17.341 1.206,17.270 1.211,17.219 C1.220,17.128 1.228,17.039 1.228,16.955 C1.228,15.830 3.681,13.843 7.282,13.226 C7.868,13.506 8.522,13.667 9.226,13.667 C9.983,13.667 10.682,13.482 11.300,13.159 C15.118,13.689 17.750,15.773 17.750,16.932 C17.750,17.016 17.758,17.105 17.767,17.196 C17.773,17.263 17.783,17.362 17.789,17.368 C17.789,17.368 17.774,17.385 17.724,17.411 Z")

                        svg(width="19px" height="20px" class='left-side__links--image hoverImage')
                            path(d="M18.989,17.068 C18.984,17.021 18.979,16.976 18.979,16.932 C18.979,15.080 16.459,12.931 12.748,12.113 C13.509,11.227 14.102,10.024 14.102,8.656 L14.102,5.009 C14.102,2.152 12.131,-0.001 9.505,-0.001 C6.880,-0.001 4.909,2.152 4.909,5.009 L4.909,8.656 C4.909,10.096 5.269,11.355 6.105,12.254 C2.935,13.088 0.072,14.911 0.072,16.954 C0.072,16.996 0.030,17.042 0.025,17.089 C-0.006,17.394 -0.096,18.110 0.710,18.537 C2.437,19.453 5.717,19.998 9.498,19.998 C13.278,19.998 16.563,19.453 18.291,18.536 C19.096,18.110 19.019,17.380 18.989,17.068 Z")


                li.left-side__links--li

                    a(href='#')
                        svg(width="20px" height="18px" class='left-side__links--image')
                            path(d="M14.687,1.284 C16.927,1.284 18.750,3.159 18.750,5.463 C18.750,6.026 18.595,6.600 18.336,6.999 C16.904,9.204 12.004,14.199 10.000,16.209 C7.996,14.199 3.097,9.205 1.664,6.999 C1.405,6.600 1.250,6.026 1.250,5.463 C1.250,3.159 3.072,1.284 5.312,1.284 C6.814,1.284 8.188,2.133 8.897,3.500 C9.115,3.918 9.539,4.178 10.000,4.178 C10.461,4.178 10.885,3.918 11.103,3.500 C11.812,2.133 13.186,1.284 14.687,1.284 M14.687,-0.001 C12.657,-0.001 10.894,1.171 10.000,2.892 C9.106,1.171 7.343,-0.001 5.312,-0.001 C2.378,-0.001 -0.000,2.445 -0.000,5.463 C-0.000,6.267 0.218,7.087 0.625,7.712 C2.529,10.643 10.000,17.999 10.000,17.999 C10.000,17.999 17.471,10.643 19.375,7.712 C19.782,7.087 20.000,6.267 20.000,5.463 C20.000,2.445 17.622,-0.001 14.687,-0.001 L14.687,-0.001 Z")

                        svg(x="0px" y="0px" viewBox="0 0 492.719 492.719" style="enable-background:new 0 0 492.719 492.719;" class='left-side__links--image hoverImage')
                            path(d="M492.719,166.008c0-73.486-59.573-133.056-133.059-133.056c-47.985,0-89.891,25.484-113.302,63.569    c-23.408-38.085-65.332-63.569-113.316-63.569C59.556,32.952,0,92.522,0,166.008c0,40.009,17.729,75.803,45.671,100.178    l188.545,188.553c3.22,3.22,7.587,5.029,12.142,5.029c4.555,0,8.922-1.809,12.142-5.029l188.545-188.553    C474.988,241.811,492.719,206.017,492.719,166.008z" fill="#ff4972")


    .dev-logo
        img(src='assets/images/icons/footer/dev-logo.png').dev-logo__img
        p.dev-logo__text Дизайн сайта
        a.dev-logo__link(href='#') www.fntw.ru
