extends ../layout/base

append config
	- var pageTitle = 'Consultation-video'

block content
	main
		section.consulting-video.consulting
			.container.container__right--right
				.row
					.col-12
						h1.title.before-text.before-text--conVideo
							| Ваша консультация
							br
							| начнется в 9:00



				.row
					.col-12
						h4.doctor-name
							| Врач акушер-гинеколог
							br
							| Ольга Николаевна Северцева
			.container.container__right.container__right--left
				.row
					.col-12
						.videoBlock.videoBlock--consulting
							.videoBlock-image
								img(src='assets/images/content/consulting-video/videoBg.jpg')
							button.btn.btn__video.flex.flex-align--center
								span.btn__video--text консультация
								span.btn__videoImg
									svg(width="8px" height="10px" class='btn__videoImg--img')
										path(
										d="M1.289,10.013 L1.289,10.013 C0.542,10.012 -0.000,9.384 -0.000,8.518 L-0.000,2.480 C-0.000,1.613 0.542,0.984 1.289,0.984 C1.543,0.984 1.807,1.062 2.052,1.209 L7.220,4.284 C7.707,4.574 7.985,5.023 7.985,5.513 C7.985,5.995 7.715,6.433 7.245,6.713 L2.050,9.790 C1.807,9.935 1.543,10.013 1.289,10.013 ZM1.289,2.308 C1.257,2.308 1.208,2.308 1.208,2.480 L1.208,8.518 C1.208,8.690 1.257,8.690 1.289,8.690 C1.319,8.690 1.383,8.681 1.474,8.627 L6.669,5.550 C6.694,5.536 6.715,5.522 6.731,5.508 C6.709,5.490 6.680,5.469 6.643,5.447 L1.475,2.371 C1.383,2.316 1.319,2.308 1.289,2.308 Z"
										)

			.container.container__right--left
				.row
					.col-12
						.video-chat
							.chat-problems
								.dot.dot--pink
								.chat-problems__text
									| При возникновении
									| проблем с трансляцией
									| Вы можете задать
									| вопрос в чате.
							.video-chat-header
								form.video-chat-form
									.form-group
										input.chatText
										button.btn.chat-btn
											svg(width="19px" height="21px")
												path(d="M17.919,0.063 C19.011,0.063 18.907,0.970 18.907,2.090 L18.907,15.266 C18.907,16.386 18.022,17.294 16.930,17.294 L3.182,17.294 L5.565,19.484 C5.854,19.767 5.947,20.227 5.659,20.510 L5.490,20.765 C5.200,21.048 4.733,21.048 4.444,20.765 L0.497,17.107 C0.492,17.102 0.486,17.101 0.481,17.096 L0.219,16.839 C0.075,16.697 0.003,16.511 0.004,16.324 C0.003,16.138 0.075,15.951 0.219,15.810 L0.481,15.554 C0.486,15.549 0.492,15.547 0.497,15.542 L4.506,11.791 C4.795,11.507 5.262,11.507 5.551,11.791 L5.720,12.046 C6.009,12.329 5.915,12.787 5.627,13.070 L3.279,15.253 L15.735,15.253 C16.395,15.253 16.931,14.704 16.931,14.027 L16.931,3.330 C16.931,2.653 16.930,4.181 16.930,2.090 C16.930,-0.000 17.919,0.063 17.919,0.063 Z")



							.video-chat-body
								p.video-chat__text.video-chat__text--user
									| Здравствуйте, Виктор Сергеевич! Как Ваше здоровье?
								p.video-chat__text.video-chat__text--doctor
									| Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
								p.video-chat__text.video-chat__text--user
									| Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель.
								p.video-chat__text.video-chat__text--doctor
									| Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
								p.video-chat__text.video-chat__text--user
									| Что именно, Виктор? Давление, температура, рвота, понос?
								p.video-chat__text.video-chat__text--doctor
									| Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
								p.video-chat__text.video-chat__text--user
									| Что именно, Виктор? Давление, температура, рвота, понос?
								p.video-chat__text.video-chat__text--user
									| Здравствуйте, Виктор Сергеевич! Как Ваше здоровье?
								.video-chat__text.video-chat__text--doctor
									| Здравствуйте, Иван Александрович. У меня вопрос: сколько это еще будет продолжаться?
								p.video-chat__text.video-chat__text--user
									| Что именно, Виктор? Давление, температура, рвота, понос?
