extends ../layout/base

append config
    - var pageTitle = 'video-tests'

block content
    main
        svg.hidden
            symbol#ic
                path(d="M26.587,27.986 L14.000,15.398 L1.413,27.986 L0.014,26.587 L12.601,14.000 L0.014,1.412 L1.412,0.014 L14.000,12.601 L26.587,0.014 L27.986,1.413 L15.399,14.000 L27.986,26.587 L26.587,27.986 Z")
        section.full-story
            .container.container__right--right
                .row
                    .col-12
                        .before-text.before-text--useful
                            h1.title
                                | Массаж во время беременности
                            a(href='useful.html').btn.btn__toggle.btn__toggle--close
                                svg(width="28px" height="28px")
                                    use(xlink:href="#ic")


                .row
                    .col-12
                        .full-story__info
                            .full-story__subTitle
                                | Отличия массажа при беременности от других видов массажа
                            .full-story__text
                                p
                                    | Практически невозможно найти человека, который не любит массаж, а тем более трудно найти женщину, безразличную к поглаживаниям и втираниям на различных частях тела. О пользе массажа люди знали издревле, массажем лечили и предотвращали болезни. Ещё в Древнем Китае, Японии, Египте и Индии массаж широко применялся для облегчения состояния будущей мамы. Уже тогда люди понимали, какие особенные процессы происходят в организме женщины и что надо делать для благополучного протекания всего периода беременности. О благотворном воздействии массажа написано и сказано много. Но одно дело просто массаж, совершенно другое - массаж беременной. Первым вопросом, которым задается женщина, почувствовав, что носит под сердцем ребенка, - от чего, обычного в повседневной жизни, ей нужно отказаться, чтобы не навредить своему малышу? Так вот, от массажа отказываться не стоит, наоборот, врачи даже рекомендуют его беременным.

                            .full-story__text.full-story__text--bold.full-story__text--pink.full-story__text--margin
                                p
                                    | Можно ли беременным делать массаж?

                            .full-story__text
                                p
                                    | Кто должен делать массаж, как, с какой периодичностью и где можно массировать тело будущей мамы? Прежде чем ответить на эти вопросы, надо отметить, что решение о проведении профессионального массажа беременной принимает врач, наблюдающий женщину, поскольку кроме общих противопоказаний к массажу, есть еще и индивидуальные, которые проявляются в зависимости от течения беременности, Общее для всех будущих мам предостережение - не злоупотреблять массажем в первые три месяца беременности, так как воздействие на так называемые, «абортирующие зоны» на теле женщины (крестец, копчик, ахиллово сухожилие, пятка и основание большого пальца руки) может спровоцировать нарушение нормального течения беременности, вплоть до самопроизвольного прерывания. Именно поэтому проведение массажа нежелательно в первый триместр беременности, когда эта опасность особенно высока. На небольшом сроке беременность и массаж совместимы только в виде самомассажа, это легкие поглаживания, выполняемые самостоятельно или близкими людьми. Такой легкий массаж будет полезен в течение всей беременности, он расслабляет и успокаивает не только маму, но и малыша. Массаж для беременной отличается, прежде всего, легкостью и нежностью движений. Массаж во время беременности облегчает боль в области позвоночника, шеи, поясницы, бёдер, а также ног и ступней, расслабляет напряженные мышцы. Он способствует уменьшению и облегчению отеков, благоприятно влияет на улучшения самочувствия, снятие стресса и общей усталости; улучшает кровообращение, что благоприятно сказывается на подаче питательных веществ и кислорода клеткам ребенка и матери. Выполнять массаж можно и в домашних условиях.

                            .full-story__text.full-story__text--bold.full-story__text--pink.full-story__text--margin
                                p
                                    | Важно при этом научиться массажу.



                            .full-story__text
                                p
                                    | Вы можете доверить выполнение своему любимому человеку. Это очень приятный и глубоко семейный процесс, когда Вы сможете ощутить тепло и заботу рук своего любимого мужа. В природе массажа особо важно, что кроме физического воздействия на организм массаж имеет также благоприятное психологическое влияние на женщину: расслабляет, успокаивает. Регулярный массаж во время беременности сможет наладить и установить приятный эмоциональный фон для будущей мамы. Выработка эндорфинов во время массажа и циркуляция крови благотворно воздействуют на организм, придавая ощущение легкости и хорошее настроение. Массаж во время беременности снимает усталость и наполняет позитивными планами и отличным настроением. Выполнять массаж можно с применением эфирных масел. Некоторые из видов масел могут быть аллергенами, поэтому перед проведением массажа важно выяснить – нет ли реакции на данный конкретный вид масла. Это можно сделать, капнув одну каплю масла на кожу, через некоторое время проверив реакцию.



                            .flex.flex-justify--space.flex-align--center
                                a(href='#').article__nav.article__nav--prev
                                    | предыдущая
                                    br
                                    | статья

                                    svg(width="15px" height="29px")
                                        path(d="M14.987,28.273 L14.274,28.985 L0.013,14.725 L0.239,14.499 L0.013,14.273 L14.274,0.012 L14.987,0.724 L1.213,14.499 L14.987,28.273 Z")



                                a(href='#').article__nav.article__nav--next
                                    | следующая
                                    br
                                    | статья

                                    svg(width="15px" height="29px")
                                        path(d="M0.013,28.273 L0.726,28.985 L14.987,14.725 L14.761,14.499 L14.987,14.273 L0.726,0.012 L0.013,0.724 L13.787,14.499 L0.013,28.273 Z")


