extends ../layout/base

append config
	- var pageTitle = 'Home page'

block content
	main.custom-header-footer
		include ../components/recording
		include ../components/information
		include ../components/free-webinar
		include ../components/about-course
		include ../components/women-passed
		include ../components/five-steps
		include ../components/three-options
		include ../components/natural-medicine
		include ../components/slider-2
		include ../components/join
		include ../components/fear
		include ../components/happy-parents
