extends ../layout/base

append config
	- var pageTitle = 'Useful materials'

block content
	main
		svg.hidden
			symbol#ic
				path(d="M26.587,27.986 L14.000,15.398 L1.413,27.986 L0.014,26.587 L12.601,14.000 L0.014,1.412 L1.412,0.014 L14.000,12.601 L26.587,0.014 L27.986,1.413 L15.399,14.000 L27.986,26.587 L26.587,27.986 Z")
		section.useful
			.container.container__right--right
				.row
					.col-12
						.block-toggles
							.toggle.before-text.before-text--useful
								h1.title.title--blue
									| Беременность.
									br
									| На что обратить внимание
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Зачем нужны курсы
									br
									| по подготовке к родам
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Сроки беременности
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Массаж во время беременности
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Неудобства во время
									| беременности
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Гимнастика для беременных
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Кто такая доула
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Дыхание и голос в родах
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Общение до рождения
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа
							.toggle
								h1.title.title--blue
									| Беременность и солнце
									button.btn.btn__toggle.btn__toggle--close
										svg(width="28px" height="28px")
											use(xlink:href="#ic")

								ul.toggle-links
									li
										a(href='full-story.html').toggle-link Можно ли делать массаж беременным?
									li
										a(href='full-story.html').toggle-link Отличия массажа при беременности от других видов массажа
									li
										a(href='full-story.html').toggle-link    О пользе массажа при беременности
									li
										a(href='full-story.html').toggle-link Особенности проведения массажа
									li
										a(href='full-story.html').toggle-link Противопоказания к проведению массажа

